<%- include('partials/header') %>

<% if(mode === "anime"){ %>
    <p>Congratulations! You've completed the Anime quiz.</p>
    <p>Your score: <%= animeScore %></p>





<% } else if(mode === "character") { %>





<% }else if (mode === "facts"){} %>

<%- include('partials/footer') %>