<%- include('partials/header') %>

<div class="end-container">
  <h2>Quiz Finished!</h2>
  <p>Your score: <%= animeScore %> / 5</p>
  <p>Thank you for participating in the quiz!</p>
  <p>We hope you enjoyed testing your anime knowledge.</p>
</div>

<%- include('partials/footer') %>