
<%- include('partials/header') %>


<div class="container">
    <h1 class="main-title">Welcome to Animoo .We’ve been waiting for you! 😉</h1>
    <form action="/quiz" method="POST">
        <button type="submit" name="mode" value="anime" class="shadow__btn">Guess the Anime</button>
        <button type="submit" name="mode" value="character" class="shadow__btn">Guess the Character</button>
        <button type="submit" name="mode" value="facts" class="shadow__btn">Anime Facts</button>
    </form>
</div>

<%- include('partials/Social') %>
<%- include('partials/footer') %>